.title, .hero-body p, time, .content h2,  .content h3, .content-metadata {
font-display: swap;
font-family: 'Playfair Display', serif;
}
.title a:hover {
	text-decoration: underline;
}
.link:hover {
	text-decoration: underline;
}